* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 20px 0;
    width: 700px;
    height: 600px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    border: 1px solid black;
}