* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px auto;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}
.home {
    width: 900px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 10px;
}
.home h1 {
    margin-top: 15px;
}

.home p {
    margin: 15px 0;
}