* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.bai2b {
    width: 1200px;
    height: auto;
    margin: 20px 0;
    border: 2px solid black;
}
.header {
    margin-top: 30px;
}

.about {
    margin: 20px;
}
.about h3 {
    margin-bottom: 20px;
}
.about ul, ol {
    margin-left: 40px;
}